svg .container line,
svg .container polyline,
svg .container polygon,
svg .container rect {
  vector-effect: non-scaling-stroke;
  stroke: #ffffff;
  fill: #96969B;
  stroke-width: 2px;
}

svg .transient .wall {
  fill: #96969B;
  stroke: #ffffff;
  stroke-width: 4px;
}

svg .transient polyline.wallLine {
  stroke-dasharray: 10;
  stroke: #87CEFA;
  stroke-width: 1px;
  vector-effect: non-scaling-stroke;
}