svg .container line,
svg .container polyline,
svg .container polygon,
svg .container rect {
  vector-effect: non-scaling-stroke;
  stroke: #ffffff;
  fill: #96969B;
  stroke-width: 2px;
  stroke-linejoin: round;
}

svg .wall polygon {
  stroke: none;
  // stroke: #333333;
  stroke-width: 1mm;
}
svg .wall use {
  display: none;
}
svg .wall polygon:hover {
  cursor: move;
  fill: #a8ceec;
  stroke-width: 1mm;
  stroke: #257ab9;
}
svg .wall.active polygon {
  fill: #a8ceec;
  stroke-width: 1mm;
  stroke: #257ab9;
}
svg .wall.active use {
  display: inline;
}

svg .transient .wall {
  fill: #b0d0eb;
  fill-opacity: 0.8;
  stroke: #4b9db6;
  stroke-width: 4mm;
}

svg .transient polyline.wallLine {
  stroke-dasharray: 10;
  stroke: #87CEFA;
  stroke-width: 1mm;
  vector-effect: non-scaling-stroke;
}

svg .transient * {
  pointer-events: none;
}